<div id="SearchBar">
<!--<input type="text" ng-model="searchBox">-->

<!--<div ng-controller="location">-->
<!--  <ul>-->
<!--    <p> Steder:</p>-->
<!--    <li ng-repeat="location in locations | filter:searchBox">-->
<!--        {{location.Postalnumber + ' : '+ location.City}}-->
<!--    </li>-->
<!--  </ul>-->
<!--</div>-->




<!--  <div>-->
<!--    <h2>Aktivitets steder</h2>-->
<!--    <ul class="list-group, activityList">-->
<!--      &lt;!&ndash;    <li *ngFor="let activity of Activities" >&ndash;&gt;-->
<!--      <li *ngFor="let location of locations" >-->

<!--        &lt;!&ndash;        (click)="onSelect(activity)"&ndash;&gt;-->

<!--        <span class="list-group-item"><div class="listDivider">Fuld object: {{(location)}} </div>-->
<!--          <div class="listDivider">Postal: {{(location.Postalcode)}}</div>-->
<!--        <div class="listDivider">City: {{location.City}}</div>-->
<!--        </span>-->



<!--      </li>-->
<!--    </ul>-->

<!--  </div>-->

  <div>
    <h2>Locations</h2>
    <ul class="list-group, activityList">
      <!--    <li *ngFor="let activity of Activities" >-->
      <li *ngFor="let location of locations" >

        <!--        (click)="onSelect(activity)"-->

        <span class="list-group-item"><div class="listDivider">Fuld object: {{location}} </div>
          <div class="listDivider">Postal: {{location.Postalcode}}</div>
        <div class="listDivider">City: {{location.City}}</div>
        </span>



      </li>
    </ul>

  </div>

</div>
