<div id="">
<div id="SearchBar">
<!--  <input type="text" placeholder="Search..">-->
<!--  <mat-form-field class="example-form-field" appearance="fill">-->
<!--    <mat-label>First campaign</mat-label>-->
<!--    <mat-date-range-input-->
<!--      [formGroup]="campaignOne"-->
<!--      [rangePicker]="campaignOnePicker"-->
<!--      [comparisonStart]="campaignTwo.value.start"-->
<!--      [comparisonEnd]="campaignTwo.value.end">-->
<!--      <input matStartDate placeholder="Start date" formControlName="start">-->
<!--      <input matEndDate placeholder="End date" formControlName="end">-->
<!--    </mat-date-range-input>-->
<!--    <mat-datepicker-toggle matSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>-->
<!--    <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>-->
<!--  </mat-form-field>-->
<!--&lt;!&ndash;  <input matInput [matDatepicker]="picker">&ndash;&gt;-->
<!--&lt;!&ndash;  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>&ndash;&gt;-->
<!--&lt;!&ndash;  <mat-datepicker #picker></mat-datepicker>&ndash;&gt;-->



  <form action="/action_page.php">
    <label for="fromDate">Fra dato:</label>

<!--    <input type="submit">-->
<!--    <label [className]="inputtest">skriv her</label>-->
    <input type="text" value="hej" id="inputtest" name="inputtest" #inputtest>
    <input type="date" id="fromDate" name="fromDate" #fromDate>


    <label [className]="testLabel" >{{inputtest.value}}</label>



    <button type="button" (click)="search">Søg </button>

    <label [className]="testdatoLabel" >{{fromDate.value}}</label>


    <button type="button" (click)="datesearch">Søg date </button>





  </form>

  <div>
    <h2>Aktivitets steder</h2>
    <ul class="list-group, activityList">
      <!--    <li *ngFor="let activity of Activities" >-->
      <li *ngFor="let room of rooms" >

<!--        (click)="onSelect(activity)"-->

        <span class="list-group-item"><div class="listDivider">Addresse: {{room.Address}} </div> <div class="listDivider"> Price: {{room.Price}}</div>  </span>


      </li>
    </ul>

  </div>

  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label [className]="AddressLabel">Number</mat-label>
      <input type="text"
             placeholder="Pick one"
             aria-label="Number"
             matInput
             [matAutocomplete]="auto">

  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let room of rooms " [value]="room.Address">
      {{room.Address}}
    </mat-option>
  </mat-autocomplete>

    </mat-form-field>
    </form>
  <button type="button" (click)="addressSearch">Søg date </button>
<!--  <mat-form-field appearance="fill">-->
<!--    <mat-label>Choose a date</mat-label>-->
<!--    <input matInput [matDatepicker]="picker">-->
<!--    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
<!--    <mat-datepicker #picker></mat-datepicker>-->
<!--  </mat-form-field>-->

<!--  <input matInput [matDatepicker]="picker">-->
<!--  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
<!--  <mat-datepicker #picker></mat-datepicker>-->

<!--  <mat-date-range-input [rangePicker]="picker">-->
<!--    <input matStartDate placeholder="Start date">-->
<!--    <input matEndDate placeholder="End date">-->
<!--  </mat-date-range-input>-->

<!--  <mat-date-range-picker #picker></mat-date-range-picker>-->


</div>

</div>
